/* * {
  margin: 0;
  padding: 0;
} */
.hidden {
  display: none !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-seven {
  flex-basis: calc(100% / 7);
}

.week-button {
  background-color: white;
  width: 5.5rem;
  height: 4rem;
}

.center {
  justify-content: center;
}

.left-padding {
  padding-left: 2rem;
}

.top-margin {
  margin-top: 2rem;
}

.entry-button {
  background-color: white;
  width: 10rem;
  height: 2rem;
  box-shadow: 2px 2px #000;
}

th {
  background-color: rgb(204, 204, 204);
  color: black;
}

table {
  border: 2px solid black;
  width: 100%;
}

tr:nth-child(2n-1) {
  background-color: #efeeee;
}

.pos-rel {
  position: relative;
}

.pos-abs-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-overlay {
  background: black;
  opacity: 0.7;
}

.modal-box-pos {
  position: fixed;
  top: 30vh;
  width: 100%;
  height: 200px;
}

.modal-box {
  background-color: white;
  width: 30rem;
  height: 100%;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
  padding: 15px;
}

.modal-text {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 18px;
  margin: 15px auto;
}

.time {
  margin-left: 1rem;
}

.time-select-row {
  margin-bottom: 1rem;
}

.description {
  resize: none;
  width: 100%;
  height: 5rem;
}

.w100 {
  width: 100%;
}

.submit-button {
  margin-top: 1rem;
  justify-content: flex-end;
  margin-left: auto;
}
